$color-primary: #B24592;
$color-secondary: #F15F79;
$color-success: #1DD1A1;
$color-title: #A9A2A2;
$color-warning: #FF9F43;
$color-text: #5A667F;
$color-shadow: #DBDBDB;
$color-dropColumn: #F15F7945;
$color-loading: #FFFFFFD9;
$color-columnError: #F15F7945;
$color-columnSuccess: #1DD1A175;
$color-priorityLow: #3498DB;
$color-priorityHigh: #ED4C67;