@import '~material-design-icons/iconfont/material-icons.css';
@import 'components/Button.scss';
@import 'components/Spinner.scss';
@import 'components/Input.scss';
@import 'components/Select.scss';
@import 'views/Sidebar.scss';
@import 'views/dashboard/Column.scss';
@import 'views/dashboard/Dashboard.scss';
@import 'views/dashboard/Task.scss';
@import 'views/create/Create.scss';

body {
  overflow: hidden;
}

.App-layout {
  height: 100vh;
  display: flex;
}