@import '../animations.scss';
@import '../colors.scss';

.Spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-loading;
  color: $color-title;
  transition: all 0.9s linear;

  &--active {
    animation: spin 2s linear infinite;
  }
}