@import '../../colors.scss';

.Task {
  padding: 15px;
  margin: 10px 0;
  background-color: white;
  box-shadow: 0 0 10px 0 $color-shadow;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 150px;
  min-height: 150px;
  position: relative;

  &:hover {
    cursor: move;
  }
}

.Task-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 10px;
  width: 100%;
  position: relative;
}

.Task-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-loading;
  color: $color-title;
}