@import '../../colors.scss';

.Task {
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 0 10px 0 $color-shadow;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 150px;
  min-height: 150px;

  &:hover {
    cursor: move;
  }
}

.Task-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 10px;
  width: 100%;
}